.blog {
  text-align: center;
}

.blog__wrapper {
  @include wrapper;
}

.blog__title {
  @include cormorant-font(34px, 130%);
  text-align: center;
}

.blog__link,
.blog__description {
  @include font-size(16px, 130%, 500);
  display: inline-block;
  border-bottom: 1px solid $brown;
}

.blog__link,
.blog__description a {
  @include clear-link;
}

.blog__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blog__items-group {
  margin-right: 30px;
}

.blog__article {
  display: flex;
  flex-direction: row-reverse;
  width: 570px;
  margin-bottom: 30px;

  &:nth-child(2n) {
    flex-direction: row;
  }
}

.blog__article--big {
  position: relative;
}

.blog__article--big .blog__article-wrap{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 285px;
  min-height: 315px;
}

.blog__article-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 50%;
  padding: 71px 61px;
  background-color: $cream;
}

.blog__image {
  height: 100%;
}

.blog__date {
  @include font-size(14px, 130%, 500);
  color: $grey;
}

.blog__article-title {
  @include cormorant-font(26px, 130%);
  color: $black-ap;
}

@media (max-width: $desktop-width) {
  .blog__items-group {
    margin-right: unset;
  }

  .blog__article.blog__article--big {
    display: flex;
    flex-direction: row-reverse;
  }

  .blog__article--big img {
    width: 100%;
    height: 100%;
  }

  .blog__article--big .blog__article-wrap {
    position: static;
    width: 34%;
    min-height: unset;
  }
}

@media (max-width: $tablet-width) {
  .blog__items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .blog__article {
    width: unset;
  }

  .blog__article img {
    width: 100%;
    height: auto;
    margin-bottom: -5px;
  }

  .blog__article,
  .blog__article:nth-child(2n) {
    flex-direction: column-reverse;
  }

  .blog__article-wrap {
    width: 100%;
    padding: 66px 0;
  }

  .blog__article.blog__article--big .blog__article-wrap {
    width: 100%;
  }
}
