$desktop-width: 1023px;
$tablet-width: 767px;
$mobile-width: 320px;
$max-width: 1600px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/* --- colors --- */

$white: #ffffff;
$black: #1d1613;
$black-ap: #000000;
$grey: #9b9997;
$brown: #a87B62;
$cream: #F0EAE4;
